GREENPLUM_TEST_HOST=
GREENPLUM_TEST_PORT=
GREENPLUM_TEST_USER=
GREENPLUM_TEST_PASS=
GREENPLUM_TEST_DATABASE=
GREENPLUM_TEST_THREADS=

DBT_TEST_USER_1=dbt_test_user_1
DBT_TEST_USER_2=dbt_test_user_2
DBT_TEST_USER_3=dbt_test_user_3
